*{
	padding: 0px;
	margin: 0px;
	 
}
#contactheader{
	width: 100%;
        background-color: red;

}
#logo{
    width: 80px;
    border-radius: 50%;
    margin: 15px;
}
body{
 background-color: limegreen;

}
h2{
    font-family: unset;
}
#contactmaintable{


	padding: 5px;
margin: 5px;

}

#footertable{

    background-color: red;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
#facebookicon{
    width: 30px;
      border-radius: 10px;
}
#twittericon{
    width: 30px;
      border-radius: 10px;
}
#linkedinicon{
    width: 50px;
    border-radius: 10px;
}
#whatappicon{
    width: 30px;
    border-radius: 50%;
}
#phoneNumber{
  width: 30px


}


.nav ul{
list-style: none;
}
.nav ul li {
    display: inline-block;
    color: ghostwhite;
    padding: 5px;
}
.nav ul li a{
    list-style: none;
}

a{
padding: 5px;
margin: 20px;
display: inline;
	text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    background-color:grey;
}



.wrapper{
margin-top: 10%;
margin-left: 10%;
background: #fff;
border-radius: 5px;
padding: 25px;
max-width: 350px;
width: 100%;
}
.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input_field{
    margin-bottom: 10px;
}
.wrapper textarea{
    height: 80px;
}
.wrapper .btn input[type="submit"]{
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: gold;

}
.wrapper #error_massage{
    margin-bottom: 20px;
    padding: 0px;
    background-color: indianred;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    color: ghostwhite;
    font-family: sans-serif;

}